body {
  margin: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 800px;       /* largura fixa */
  height: 600px;      /* altura fixa */
}

.mapa {
  width: 100%;
  height: 100%;
  display: block;
}

.objeto {
  position: absolute;
  width: 48px;        /* tamanho do GIF, ajuste conforme necessário */
  height: 48px;
  cursor: pointer;
}

.mario {
  position: absolute;
  width: 150px;        /* tamanho do GIF, ajuste conforme necessário */
  height: 112px;
}